@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600;900&family=Outfit:wght@400;900&display=swap");

body {
  background-image: url(assets/bg.jpg);
  width: 100%;
  margin-block: 2em;
  margin-inline: 10em;
  color: white;
  font-family: "Inter", sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: 200;
}
img {
  width: 120px;
  margin-bottom: 2em;
}
span {
  font-weight: 900;
}
h1 {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 4em;
  line-height: 50px;
}
h2 {
  color: #950297;
  font-family: "Outfit", sans-serif;
  font-size: 2em;
  font-weight: 600;
}
#h1 {
  width: 30%;
}

button {
  width: 10em;
  height: 3em;
  font-size: 1.1em;
  background-color: #00ffff;
  border: 1px solid #00ffff;
  box-shadow: 0 0 35px 15px #02a5a5;
  margin-left: 10em;
  font-weight: 900;
  color: #0c113b;
  cursor: pointer;
}
#maintext {
  width: 40%;
  margin-bottom: 3em;
}
#checkbox {
  width: 100%;
  margin-top: 3em;
}
ul {
  padding: 0;
  padding-left: 15px;
  margin-block: 2em;
}
label {
  font-weight: 600;
  font-size: 0.9em;
}

@keyframes pop {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
  }
}

.checkbox {
  cursor: pointer;
  accent-color: #9b59b6;
}
