@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");
body {
  margin: 0;
  padding: 0;
  background-color: black;
  display: flex;
  height: 100%;
  font-family: "Inter", sans-serif;
}

.result_page {
  margin-top: 30px;
  padding: 30px 60px;
  background-image: url(../assets/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fafbfd;
  width: 700px;
  height: 520px;
  margin-left: auto;
  margin-right: auto;
}

.result_page-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 30px;
}

.logo img {
  width: 110px;
}

.result_heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

.result_heading h1 {
  margin: 0;
}

.result_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  line-height: 2.2rem;
}

.container_left,
.container_middle,
.container_right {
  padding: 30px;
}
.progress-bar {
  width: 220px;
  height: 220px;
  position: relative;
}

#result-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 11px;
  line-height: 16px;
}

/* .outer {
  height: 220px;
  width: 220px;
  border-radius: 50%;
  border: 1px solid transparent;
  box-shadow: 8px 8px 15px 5px rgba(0, 0, 0, 0.15);
}

.inner {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  border: 1px solid transparent;

  margin: auto;
  margin-top: 30px;
  box-shadow: inset 8px 8px 15px 5px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
} */

.bottom-svg {
  fill: none;
  stroke: #c2128d;
  stroke-width: 30px;
}

.top-svg circle {
  fill: none;
  stroke: #00ffff;
  stroke-width: 30px;
  /* percent: */
  stroke-dasharray: 500;
  /* for animate the circle we use dashoffset */
  stroke-dashoffset: 0;
}
.top-svg {
  position: absolute;
  top: 0;
  left: 0;
}

.heading {
  font-size: 35px;
  font-weight: 600;
}

#correct-questions,
#wrong-questions {
  font-size: 12px;
}
.correct-text,
.wrong-text {
  font-weight: 400;
}

.container_right {
  color: #d8d8d8;
  text-align: right;
}

.grey-text {
  color: #cac8c8;
}
#rateUs_btn {
  border: 1px solid #fafbfd;
  width: 150px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  color: #fafbfd;
}
