@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;900&family=Outfit:wght@300;400;600;700;900&display=swap");

/* body {
  margin: 0;
  padding: 40px 80px;
  background-image: url(../assets/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  font-family: "Inter", sans-serif;
} */
body {
  background-image: url(../assets/bg.jpg);
  color: white;
  font-family: "Inter", sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-size: 1.25em;
  margin-block: 1.6em;
  margin-inline: 8em;
  font-family: "Inter", sans-serif;
}

.result_page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  padding: 30px 60px;
  color: #fafbfd;
  font-family: "Inter", sans-serif;
}

.result_page-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo img {
  height: 32px;
}

.result_heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result_heading h1 {
  margin: 0;
  color: #e6e6e6;
  font-size: 2.5rem;
}

.result_heading div {
  font-size: 1.2rem;
  color: #cac8c8;
}

.result_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  line-height: 2.3rem;
}

.container_left,
.container_right {
  width: 10rem;
}

.progress-bar {
  width: 350px;
  height: 350px;
  /* was 250 */
  position: relative;
}

.progress-bar-text {
  position: absolute;
  top: 35%;
  display: flex;
  flex-direction: column;
  padding: 0 100px;
  /* margin: 0px 60px; */
  line-height: 12px;
  text-align: center;
}

.progress-bar-h1 {
  font-size: 12px;
  margin: 0;
  color: #e6e6e6;
}

.progress-bar-h2 {
  margin: 6px 0px 6px 0px;
  font-size: 12px;
  color: #00ffff;
}

.progress-bar-p {
  color: #cac8c8;
  font-size: 10px;
}

.bottom-svg {
  fill: none;
  stroke: #c2128d;
  stroke-width: 35px;
  filter: drop-shadow(-2px 3px 10px rgba(0, 0, 0, 0.8));
}

.top-svg,
.bottom-svg {
  stroke-width: 40px;
}

.top-svg circle {
  fill: none;
  stroke: #00ffff;
  /* percent: */
  /*691 for full circle*/
  stroke-dasharray: 691;
  /* for animate the circle we use dashoffset */
  stroke-dashoffset: 0;
  animation: anim 3s ease forwards;
}

.top-svg {
  position: absolute;
  top: 0;
  left: 0;
}

/* circle animation */
@keyframes anim {
  0% {
    stroke-dashoffset: 691;
  }
}

.correct-questions,
.wrong-questions {
  font-size: 0.8rem;
  color: #e6e6e6;
}

.correct-text,
.wrong-text {
  font-size: 2.5rem;
  font-weight: 400;
}

.container_right {
  color: #d8d8d8;
  text-align: right;
}

.correct-percentage,
.wrong-percentage {
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 5px;
}

/* .rateUs_btn {
  border: 2px solid #d8d8d8;
  font-size: 17px;
  font-weight: 600;
  padding: 13px 50px;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  color: #e6e6e6;
} */

/* .rateUs_btn {
  width: 10em;
  height: 3em;
  font-size: 1.1em;
  background-color: #00bebe;
  border: 1px solid #00ffff;
  font-family: "Outfit", sans-serif;
  
  font-weight: 900;
  color: #0c113b;
  cursor: pointer;
  letter-spacing: 1.5px;
} */

/* .rateUs_btn:hover {
  box-shadow: 0 0 35px 15px #02a5a5;
  background-color: #00ffff;
} */

.rateUs_btn {
  color: #060920;
  width: 12rem;
  height: 90%;
  border: none;
  /* background-color: #00d4d4; */
  font-weight: 700;
  font-size: 1.3rem;
  margin-left: auto;
  margin-right: auto;
  transition: opacity 0.5s;
  animation: 0.8s linear infinite rotate;
  transition-delay: 0.5s;
  transition-duration: 1s;
  opacity: 1;
  cursor: pointer;
  font-family: "Outfit", sans-serif;
  background-color: rgb(0, 255, 255);
  font-family: "Inter", sans-serif;
}

#button-div {
  width: 100%;
  height: 60px;
  margin-inline: auto;
  text-align: center;
  padding-top: 1em;
}
.rateUs_btn:hover {
  /* box-shadow: 0 0 35px 15px #02a5a5;
  background-color: rgb(0, 255, 255); */
  box-shadow: 0 0 20px 8px rgb(0, 212, 212, 0.6);
}
