@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");
body {
  margin: 0;
  padding: 0;
  background-color: black;
  display: flex;
  height: 100%;
  font-family: "Inter", sans-serif;
}

.quiz_page {
  margin-top: 30px;
  padding: 30px 60px;
  background-image: url(../assets/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fafbfd;
  width: 700px;
  height: 520px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.timer {
  position: absolute;
  top: 30px;
  right: 30px;
}

.logo img {
  width: 110px;
}

.question_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.options-row {
  display: flex;
  flex-direction: row;
}

.options-row div {
  padding: 15px;
  border: 1px solid white;
  margin: 10px;
}
