@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600;900&family=Outfit:wght@400;900&display=swap");

body {
  --hue: var(--hue-neutral);
  background-image: url(../assets/bg.jpg);
  /* width: 85%; */
  color: white;
  font-family: "Inter", sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: 200;
  /* width: 100vw; */
  height: 92vh;
  color: white;
  font-size: 1.25em;
  /* margin-inline: 4em;
  margin-top: 3em; */
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
}
#top {
  display: flex;
  justify-content: space-between;
  height: 5em;
  margin: 30px;
}
#mainSpace {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75%;
  margin: 70px;
  position: relative;
}
/* div { */
/* border: 1px solid black; */
/* } */

img {
  height: 32px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* background-color: white; */
  justify-content: center;
  align-items: center;
}
.points {
  display: none;
}
.buttons {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 30px;
  margin: 20px 0;
  width: 100%;
}

.button {
  /* color: blueviolet;
  box-shadow: 1px -4px 0px -3px white;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 30px 30px;
  padding: 5px 10px;
  height: 3.5em;
  color: white;
  font-size: 1em;
  outline: none;
  width: 80%; */

  padding: 10px 120px;
  box-shadow: -1.9px -5px 1px -3px white;
  text-align: center;
  border-radius: 40px;
  text-decoration: none;
  background: rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(30px);
  color: white;
  letter-spacing: 2px;
  cursor: pointer;
  margin-top: 10px;
}

.button:hover {
  background: #c80090;
}

.button.correct {
  --hue: var(--hue-correct);
  color: whitesmoke;
  background-color: #c80090;
}
.button.wrong {
  --hue: var(--hue-wrong);
}

.startButton,
.nextButton {
  /* font-size: 1.5rem;
  padding: 10px 120px;
  text-align: center;
  border-radius: 30px 30px;
  background-color: rgba(255, 255, 255, 0.2);
  color: white; */

  text-align: center;
  padding: 20px 50px;
  background-color: #50a1bd;
  border: none;
  font-weight: 600;
  color: #120a27;
}

.nextButton {
  position: absolute;
  bottom: -50px;
  right: 0;
}

.controls {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}
input {
  margin-top: 15px;
}
#question {
  color: white;
  margin-bottom: 2em;
  width: 100%;
  font-size: 1.5em;
  text-align: center;
  font-weight: 400;
}
#bottomtext {
  text-align: center;
  font-size: 1.2em;
  font-weight: 500;
  width: 95%;
}
#btm {
  color: #c405ae;
}
#question-container {
  width: 100%;
}

.base-timer {
  position: relative;
  width: 150px;
  height: 150px;
}

.base-timer__svg {
  transform: scaleX(-1);
}

.base-timer__circle {
  fill: none;
  stroke: none;
}

.base-timer__path-elapsed {
  stroke-width: 7px;
  stroke: grey;
}

.base-timer__path-remaining {
  stroke-width: 7px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  fill-rule: nonzero;
  stroke: currentColor;
}

.base-timer__path-remaining.green {
  color: #01ffff;
}

.base-timer__path-remaining.orange {
  color: #01ffff;
}

.base-timer__path-remaining.red {
  color: #01ffff;
}

.base-timer__label {
  position: absolute;
  width: 150px;
  height: 150px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 45px;
}
#timertext {
  position: relative;
  text-align: center;
  font-size: 12px;
  bottom: 3.6em;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}
#remaining {
  bottom: 0px;
  position: absolute;
  right: 40px;
}
#seconds {
  bottom: 60px;
  position: absolute;
  right: 47px;
}
